---
layout: layout.liquid
title: Random Name Gen
---

<div x-data="{name: ['jeff', 'allie', 'zelda', 'luke', 'ethan', 'clement', 'daniel', 'maddie', 'ursula', 'ava', 'john'], randomName: 'jeff'}">
    <h1 x-text="randomName"></h1>
    <button @click="randomName = name[Math.floor(Math.random() * name.length)]">Generate Random Name</button>
</div>